{% load i18n tz highlight gitlab_urls %}

<div class="row">
  <div class="col-md-12">
    <small>{{ result.modified|date:"d F Y" }}
      {% with mod=profile_url result.modified_by|default_if_none:"" result.modified_by_url %}
        {% if query %}
          {% highlight mod with query %}
        {% else %}
          {{mod}}
        {% endif %}
      {% endwith %}
    </small><br>
    <h4><a href="{{result.url}}">
      {% if query %}
        {% highlight result.title with query %}
      {% else %}
        {{result.title}}
      {% endif %}
    </a></h4>
    <p>
      {% with desc=result.description|default_if_none:" "|truncatewords:"85" %}
        {% if query %}
          {% highlight desc with query %}
        {% else %}
          {{desc}}
        {% endif %}
      {% endwith %}
    </p>
    <small>{% trans "Registred in" %}: <strong>{% trans "Code" %}</strong></small>
  </div>
  <hr>
</div>
