{% load i18n tz highlight %}

<div class="row">
  <div class="col-md-12">
    <h4><a href="{{result.url}}">
      {% highlight result.title with query %}
    </a></h4>
    <p>
      {% with result.description|truncatechars:"140"|default_if_none:"" as description %}
        {% highlight description with query %}
      {% endwith %}
    </p>
    <small><strong>{% trans "Since" %}: {{ result.created|date:"d F Y" }}</strong></small><br>
    <small class="colab-result-register">{% trans "Registred in" %}: <strong>{% trans "Code" %}</strong></small>
  </div>
  <hr>
</div>
