[run]
omit = 
	*/migrations/*
	*/tests/*
	test_*.py
	*/__init__.py
	*/urls.py
	*/settings.py
	*/tests.py
source =
    src/colab_gitlab/

[report]
precision = 2
show_missing = True

[html]
directory = coverage_report/
title = Colab Gitlab Plugin Coverage
