{% load i18n tz highlight %}
<li class="preview-message">
  <span class="glyphicon glyphicon-{{ result.icon_name }}" title="{{ result.type }}"></span>
  <a href="{{ result.url }}">
    <span class="label label-primary">{{result.project.name}}</span>
    <span class="subject">
      {{ result.title|default_if_none:""|striptags|escape|truncatechars:60 }}
    </span>
  </a>

  <div class="quiet">
    <span class="pull-left"><strong>{{result.state}}</strong> {{ result.description|default_if_none:""|striptags|escape|truncatechars:60 }}</span>
    <span class="pull-right">{{ result.modified|localtime|timesince }} {% trans "ago" %}</span>
  </div>
</li>
